body{
    background-color: rgb(27, 22, 22);
}
#header{
position: absolute;
width: 1300px;
height: 60px;
left: 150px;
top: 67px;
}

.navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a, .navbar a:focus, btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i, .navbar a:focus i, btn {
    font-size: 15px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a , .btn:hover {
    color: #30FBEF;
  }
  .logo{
    padding-right: 20px;
  }
  .btn{
    background: rgb(27, 22, 22);
    border: 2px solid #272829;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(82, 81, 81, 0.3) 0px 1px 3px -1px;
    border-radius: 50px;
    color: #30FBEF ;
    margin-left: 15px;
    height: 60px;
    width: 215px;
  }
  
.heading{
    color: #30FBEF;
    font-weight: bolder;
    font-size: 70px;
}
.para, .para1{
    color: white;
    font-size: 24px;
    font-weight: lighter; 
}
.btn1{
    background: rgb(27, 22, 22);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(44, 42, 42, 0.3) 0px 1px 3px -1px;
    border-radius: 50px;
    color: white ;
    height: 85px;
    width: 255px;
    font-weight: 500;
    font-size: 24px;
}
#card{
position: absolute;
width: 1117px;
height: 560px;
left: 240px;
top: 918px;
background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
border: 2px solid #272829;
box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}
.heading1 , .heading2{
color:#30FBEF;
font-size: 40px;
}
#card1{
position: absolute;
width: 1117px;
height: 760px;
left: 240px;
top: 1622px;
background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
border: 2px solid #272829;
box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}
.swiper {
  margin-top: 40px;
  width: 1005px;
  height: 542px;
}
.swiper-slide{
  color: white;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
border: 2px solid #272829;
box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}
#card2{
  position: absolute;
  width: 1117px;
  height: 580px;
  left: 240px;
  top: 2551px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  }
  .mySwiper1{
  margin-top: 40px;
  width: 805px;
  height: 342px;
  }
  .input{
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 400px;
    height: 40px;
    float: right;
    color: white;
    position: relative;
  }
  .input1{
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 300px;
    position: absolute;
  }
  .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 20px 0;
    padding-top: 10px;
    margin-right: 4px;
    margin-top: 60px;
    border-radius: 50%;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 45px;
    height: 45px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    color: #fff;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  }
  
  #footer .footer-bottom {
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .dropbtn {
    background-color: transparent;
    color: #30FBEF;
    padding: 16px;
    font-size: 26px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #080808;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 251, 251);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #0c0c0c}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .img3{
    width: 650px;
     height: 710px;
     margin-left: 100px;
     display: inline-block;
     position: absolute;
  }
  .para2{
    padding-left: 180px;
     color: white;
  }
  .heading2{
    padding-left: 180px;
  }
  .message{
    margin-bottom: 40px; 
    float: right;
    margin-right: 100px;
  }
  .heading3{
    color: #30FBEF;
    font-weight: normal;
     font-size: medium;
     margin-top: 60px;
     margin-left: 180px;
  }
  @media only screen and (max-width: 600px) {
    #header{
      width: 300px;
    }
   .navbar{
    display: none;
   }
   .img1{
     margin-top: 15px;
   }
   .img2{
     width: 350px;
   }
   .heading1{
     font-size: 28px;
   }
   #card{
    position: absolute;
    width: 400px;
    height: 750px;
    left: 40px;
    top: 1418px;
   } 
   .para1{
     font-size: medium;
   }
   #card1{
    position: absolute;
    width: 400px;
    height: 750px;
    left: 40px;
    top: 2258px;
   }
   .swiper{
     width: 700px;
   }
   #card2{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 40px;
    top: 3100px;
   }
   #card3{
    left: 10px;
    top: 4018px;
   }
   .img3{
     display: none;
   }
   .heading2 , .para2{
     padding-left: 10px;
   }
   .heading3{
     padding-left: 10px;
     margin-left: 10px;
   }
   .message{
     margin-right: 400px;
     float: left;
   }
  }
  @media only screen and (min-width: 600px) {
    #card{
      position: absolute;
      width: 400px;
      height: 750px;
      left: 40px;
      top: 1278px;
     } 
     #card1{
      position: absolute;
      width: 400px;
      height: 750px;
      left: 40px;
      top: 2058px;
     }
     #card2{
      position: absolute;
      width: 400px;
      height: 700px;
      left: 40px;
      top: 2850px;
     }
     #card3{
      left: 10px;
      top: 4018px;
     }
     .heading2 , .para2{
        padding-left: 10px;
        margin-left: 10px;
    }
    .heading{
      font-size: 50px;
    }
    .para{
      font-size: 25px;
    }
  }
  @media only screen and (min-width: 992px){
    .dropdown{
      display: none;
    }
    #card{
      position: absolute;
      width: 1117px;
      height: 560px;
      left: 240px;
      top: 918px;
      }
    #card1{
        position: absolute;
        width: 1117px;
        height: 760px;
        left: 240px;
        top: 1622px;
        }
    #card2{
      position: absolute;
      width: 1117px;
      height: 580px;
      left: 240px;
      top: 2551px; }
    .heading2{
      color:#30FBEF;
      font-size: 40px;
      padding-left: 180px;
    }
    .para2{
      padding-left: 180px;
       color: white;
    }
    .input{
      width: 400px;
      height: 40px;
      float: right;
      color: white;
      position: relative;
    }
    .input1{
      width: 100px;
      height: 40px;
      color: white;
      margin-left: 300px;
      position: absolute;
    }
    
  }
  