body{
    background-color: rgb(27, 22, 22);
}
#header{
position: absolute;
width: 1300px;
height: 60px;
left: 150px;
top: 67px;
}

.navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a, .navbar a:focus, btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i, .navbar a:focus i, btn {
    font-size: 15px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a , .btn:hover {
    color: #30FBEF;
  }
  .btn{
    background: rgb(27, 22, 22);
    border: 2px solid #272829;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(82, 81, 81, 0.3) 0px 1px 3px -1px;
    border-radius: 50px;
    color: #30FBEF ;
    margin-left: 15px;
    height: 60px;
    width: 215px;
  }
  
.heading{
    color: #30FBEF;
    font-weight: bolder;
    font-size: 70px;
}
.para{
    color: white;
    font-size: 24px;
    font-weight: lighter; 
}
.btn1{
    background: rgb(27, 22, 22);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(44, 42, 42, 0.3) 0px 1px 3px -1px;
    border-radius: 50px;
    color: white ;
    height: 85px;
    width: 255px;
    font-weight: 500;
    font-size: 24px;
}
#card{
position: absolute;
width: 1117px;
height: 560px;
left: 240px;
top: 918px;
background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
border: 2px solid #272829;
box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}
.heading1{
color:#30FBEF;
font-size: 40px;
}
#card1{
position: absolute;
width: 1117px;
height: 560px;
left: 240px;
top: 1622px;
background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
border: 2px solid #272829;
box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}
